---
layout: default
---
<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    Pour vous aider à écrire votre rapport d'éxperimentation, nous avons créé un gabarit de référence:
    <a href="{{site.baseurl}}/ceai-cqen-documentation/Experimentations/gabarit.html">Gabarit d'expérimentation</a>
    
    <br>

    {{ content }}
    
    <br>
    <br>
    <ul class="post-list">
      {% for lab in site.experimentations %}
        {%- if lab.index == true -%} <!--Only show the indexes-->
          <li>
            <h3>
              <a href={{lab.project}}/index.html>{{lab.title}}</a>
              <a target="_blank" rel="noopener noreferrer" href={{lab.github}}>
                <i class="github-icon fab fa-github"></i>
              </a>
            </h3>                
            <span class="post-meta">
              {{ lab.content | strip_html }}
            </span>
          </li>
        {%- endif -%}
      {% endfor %}        
    </ul>
</div>
